[submodule "submodule/quicly"]
	path = submodule/quicly
	url = https://github.com/maxsharabayko/quicly.git
[submodule "submodule/function2"]
	path = submodule/function2
	url = https://github.com/Naios/function2.git
[submodule "submodule/CLI11"]
	path = submodule/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "submodule/srt"]
	path = submodule/srt
	url = https://github.com/maxsharabayko/srt.git
[submodule "submodule/spdlog"]
	path = submodule/spdlog
	url = https://github.com/gabime/spdlog.git
